body{
  background: #eee;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.wobot-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wobot-link {
  color: #09d3ac;
}
