@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: #F2F3F8 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

body, html, .wrapper, #root, .wobot-wrapper {
  width: 100%;
  height: 100%;
}
input::-webkit-input-placeholder { 
  color: #dee3e7 !important;
  opacity: 1;
}

input:-ms-input-placeholder { 
  color: #dee3e7!important;
  opacity: 1;
}

input::placeholder {
  color: #dee3e7!important;
  opacity: 1;
}
.wrapper input{
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  color: #dee3e7;
  border-radius: 0px;
  border: 1px solid transparent;
  transition: 0.4s;
}
.wrapper .content input,.select-box .telephone,.add-calendar .Dropdown-control{
  background: #FFFFFF;
  border: 1px solid #BED8D4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 32px;
  font-family: 'Sarala', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  color: #98A9AE;
  opacity: 0.5;
}
.add-calendar .Dropdown-control{
  opacity: 1;
  border: 1px solid #BED8D4;
}
.add-calendar .css-yk16xz-control{
  border: 1px solid #BED8D4;
}
.select-box .telephone{
  display: block;
  line-height: 32px;
  text-align: center;
  color: rgba(7, 59, 76,0.5);
  opacity: 1;
}
.content h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.285172px;
  color: #073B4C;
}
.content .white-box{
  min-height: 500px;
  position: relative;
}
.row.bottom-btns {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}
.wrapper .content label{
  font-family: 'Sarala', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #073B4C;
  margin: 0px;
}
.wrapper .content label.modal-title{
  position: relative;
  top: -17px;
}
.wrapper .content .form-group{
 margin-bottom: 40px;
}
.wrapper input:focus{
  box-shadow: none;
  outline: none;
  border: 1px solid #008CCC;
}
.SearchBar-root-91{
  height: 33px;
}
.region-interest{
  display: flex;
  margin-top: 20px;
}
.region-interest ul{
  display: flex;
  margin: 0 0 0 21px;
}
.region-interest ul li{
  margin-right: 30px;
}
.wrapper .region-interest ul li label{
  font-weight: normal;
  color: #AAB1BA;
}
.live-camera-view{
  margin-top: 20px;
}
.wrapper .btn{
  background: #008CCC;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.12);
}
.logo{
  margin-bottom: 50px;
  text-align: center;
  margin-top: 30px;
}
.wrapper .content .add-user-list input{
  height: 38px;
  width: 200px;
  opacity: 1;
}
.wrapper .content .add-user-list .css-1wa3eu0-placeholder{
  color:#073B4C
}

.wrapper .content .add-user-list input::-webkit-input-placeholder { /* Edge */
  color:#073B4C!important;
}

.wrapper .content .add-user-list input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#073B4C!important;
}

.wrapper .content .add-user-list input::placeholder {
  color: #073B4C !important;
}
.wrapper .content .add-user-list .searchbar-input input{
  padding-left: 40px;
  background-image: url(./images/search.png);
  background-repeat: no-repeat;
  background-position: 7px center;
}
.searchbar-input .SearchBar-root-1{
  height: 38px;
}
.or{
  padding-top: 30px;
  border-bottom: 1px solid #dde3e7;
  position: relative;
  margin-top: 30px;
  color: #ced5da;
}
.search-items{
  display: flex;
  margin-top: 10px;
}
.select-list .search-items span{
  width: 20px;
  height: 20px;
  background-image: url(./images/circle-x.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  background-size: 20px;
  margin-left: 10px;
}
.setup-completed{
  width: 20px;
  height: 20px;
  background-image: url(./images/circle-checked.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  background-size: 20px;
}
table.table th, table.table td{
  vertical-align: middle;
}
.add-newdvr h3 .info-text{
  margin-left: 10px;
}
.select-box.searchbar-input {
  width: auto;
}
.location-type {
  position: relative;
}
.location-type .location-title{
 position: relative;
 top: -27px;
}
.location-type .location-title{
 top:-18px;
}
.moreinfo{
  margin: 10px 0 20px;
}
.colum2 {
  max-width: 350px;
  display: flex;
  margin-right: 20px;
}
.add-user-info.icons span.info{
 width: auto;
 height: auto;
 border: none;
 color: #6F7C80;
 font-size: 12px;
}
.colum2.app-availability .select-box{
  width: 100px;
}
.add-user-team-info table.table a{
  color: #008CCC;
  margin-left: 20px;
}
.color{
  color: #008CCC;
}
.add-user-team-info table.table th,.add-user-team-info table.table td{
  vertical-align: middle;
}
.moreinfo a{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #008CCC;
  border: 1px solid #008CCC;
  box-sizing: border-box;
  border-radius: 2px;
  width: 103px;
  line-height: 37px;
}
.wrapper .content .search-items label{
  width: auto;
  margin-right: 10px;
  color:rgb(7, 59, 76,0.5);
  font-size: 12px;
}
.select-modals .select-box{
 width: auto;
}
.or span{
  background: #F2F3F8;
  padding: 0 10px;
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  width: 51px;  
  margin: auto;
}
.icons span.info {
  width: 20px;
  border: 1px solid #167bff;;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  height: 20px;
  color: #167bff;
}
.table td, .table th{
  color: #6F7C80;
}
.content.add-your-team-process .text-right .btn{
  margin: 0 0 0 20px;
}
.copy-settings-camera .location-box .SearchBar-searchContainer-8 {
  width: calc(100% - 13px - 32px);
  float: right;
  margin: auto 7px;
}
.icons span.info svg{
  height: 10px;
  position: relative;
  top: -4px;
}
td.icons {
  display: flex;
}
.social-login{
  text-align: center;
  margin-top: 40px;
}
.social-login a{
  margin:0 16%
}
.social-login a:hover path{
  fill: #008CCC;
}

.btn-signup{
  margin-top: 25px;
}
.wobot-inner .form-group{
 margin-bottom: 2px;
 position: relative;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.password__show{
  background-image: url(./images/eye.svg);
  background-size: 30px;
  text-indent: -99999px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 11px;
  width: 30px;
  right: 12px;
  cursor: pointer;
}
.wobot-wrapper {
  text-align: left;
}
.wobot-inner.login-page{
  padding-top: 70px;
}
.wobot-inner {
  max-width: 450px;
  margin: auto;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  width: 100%;
}
.icons span{
  margin-right: 20px;
  color: #167bff;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.live-camera-view span{
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.wobot-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.footer {
  position: static;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 70px;
}
.footer p,.setup-process .footer p{
  font-size: 10px;
  line-height: 14px;
  color: #AAB1BA;
}
 

.forgot-password{
  display: inline-block;
  margin-top: 15px;
  color: #008CCC;
  text-decoration: underline;
}
.logo.fixed {
  position: static;
  top: 20px;
  left: 0;
  right: 0;
}
.content{
  max-width: 750px;
  margin: 0px auto 0;
  width: 100%;
}
.content .btn{
  margin-top: 0px;
  background: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #008CCC;
  border: 1px solid #008CCC;
  padding: 5px 22px;
  margin: 0px;
  text-transform: none;
}
.add-recorder table.table thead th::before,table.table thead th::after{
  display: none !important;
}
.add-recorder .dataTables_wrapper.dt-bootstrap4 {
  margin-top: 32px;
}
.content .btn.btn-bulk{
  margin-left: 20px;
}
table.dataTable thead{
  background: #F2F3F8;
border: 0.25px solid #F2F3F8;
}
.table-box{
  margin-top: 30px;
}
.content.settings-camera-page.recorder-table .white-box{
 min-height: 500px;
}
.add-newdvr{
  margin-bottom: 40px;
}
.dont-recorder{
  margin-top: 50px;
}
.add-newdvr h3{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Sarala', sans-serif;
  align-items: center;
  color: #073B4C;
  float: left;
  margin-right: 20px;
}
.add-recorder.content .btn.connection-btn{
  margin-left: 0px;
  background: #008CCC;
  color: #fff;
} 
.add-recorder.content .css-g1d714-ValueContainer{
 height: 30px;
 padding: 0 10px;
line-height: normal;
font-size: 14px;
transition: 0.3s;
}
.add-recorder.content .css-tlfecz-indicatorContainer {
  padding: 3px 10px;
  transition: 0.3s;
}
.add-recorder.content .css-1pahdxg-control{
 min-height: auto;
 border: none;
  height: 30px;
  transition: 0.3s;
}
.location-box h4{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  align-items: center;
  color: #073B4C;
}
.wrapper .content .location-box input{
  height: auto;
  border: none;
  border-radius: 0px;
  opacity: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #6F7C80;
}
.location-box  .SearchBar-root-1,.location-box  .SearchBar-root-91{
  background: #FFFFFF;
  border: 1px solid #BED8D4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 32px;
  box-shadow: none;
  display: block;
}
.skip-content .row.bottom-btns{
 position: static;
}
.skip-content .popup-content {
  padding: 20px !important;
  max-width: 280px;
  background: #FDFDFD !important;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.22), 0px 24px 24px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.wobot-wrapper .skip-content h3{
 font-size: 20px;
 text-align: left;
 font-weight: 700;
 color:#073B4C;
}
.content .skip-content .btn{
  border: none;
  padding: 0;
  box-shadow: none;
  margin: 0 11px 0 0px;
  color: #98A9AE;
}
.wobot-wrapper .setup-page-completed .main-content p{
  font-size: 30px;
  margin: 0;
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.content .skip-content .btn.btn-next{
  background: none !important;
  border: none;
  color: #073B4C;
  margin: 0 24px 0 0px;
}
.row.location-box {
  margin-top: 35px;
}
.skip-content p{
  font-size: 16px;
  line-height: 24px;
  color: #6F7C80;
}
.skip-content .modal-content{
 border: none;
}
.location-box  .SearchBar-root-1:focus{
  box-shadow: none;
  outline: none;
  border: 1px solid #008CCC;
}
.location-box .SearchBar-iconButton-2{
  border-radius: 0px;
  background: none;
  padding: 0;
  float: left;
  margin: 4px 0 0 4px;
}
.location-box .SearchBar-iconButton-2:focus{
  outline: none;
}
.location-box .SearchBar-searchContainer-8 {
  width:calc(100% - 30px - 32px);
  float: right;
}
.location-box .SearchBar-iconButton-2:hover{
  background: none;
}
.wrapper .content .location label{
 width: 85px;
 margin-right: 15px;
}
.add-recorder.content .css-yk16xz-control{
  min-height: auto;
  height: 30px;
  transition: 0.3s;
}
.add-recorder.content .css-yk16xz-control:focus{
  outline: none;
}
.input-field{
  margin-bottom: 30px;
}
.dont-recorder a{
  text-decoration: underline;
}
.setup-process.add-camera-setup .heading {
 text-align: center;
}
.setup-process p, .setup-process ul li span{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  align-items: center;
  color: #073B4C;
  font-family: 'Sarala', sans-serif;
}
.setup-process ul.camera-list li span{
 font-size: 22px;
 color: #6F7C80;
}

.setup-process ul li{
  color: #78D5D7;
  font-size: 25px;
  line-height: 23px;
}
.content .btn.btn-next,.content .btn-add-submit .btn {
  background: #008CCC;
  border: 1px solid #008CCC;
  display: inline-block;
  width: auto;
  margin-left: 10px;
  color: #fff;
}
.wrapper .content .add-calendar .react-date-picker input{
  height: auto;
  border: none;
  margin: 7px 0 0 0;
  color:rgb(7, 59, 76,0.5);
  opacity: 1;
  width: auto !important;
  text-align: center;
  padding: 0px;
}
.wrapper .content .add-calendar .react-date-picker .react-date-picker__wrapper{
  border: 1px solid #BED8D4;
  box-sizing: border-box;
  border-radius: 4px;
}
.react-date-picker__calendar-button svg{
  stroke: #BED8D4;
}
.radio-btn {
  list-style: none;
  padding: 0px;
}
.radio-btn li{
  display: flex;
}
.radio-btn .react-date-picker{
 margin-left: 20px;
}
.radio-btn input{
  margin-right: 10px;
}
.content .btn-next.btn:disabled{
  background: #BED8D4;
  border: 1px solid #BED8D4;
}
.bottom-btns{
  margin-top: 30px;
}
.heading{
  text-align: center;
  margin-bottom: 30px;
}
.add-camera-setup .heading{
  text-align: left;
}
.camera-settings a{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #073B4C;
  font-family: 'Sarala', sans-serif;
  padding: 0 10px;
  border-bottom: 1px solid #63D2FF;
  }
  .camera-settings a:hover{
    text-decoration: none;
  }
  .camera-list{
    list-style: none;
    text-align: center;
    margin-top: 30px;
    max-height: 283px;
    overflow: scroll;
    padding: 0px;
  }
  .select-list {
    display: flex;
    margin-bottom: 20px;
  }
  .select-list label{
    width: 110px;
  }
  .select-list .css-1uccc91-singleValue{
  top: 60%;
}
.content .select-list .add-new.btn{
  background: #008CCC;
  border: 1px solid #008CCC;
  color: #fff;
  margin-right: 15px;
}
.content.add-recorder{
 height: 550px;
}
.connection-btn img{
  margin-right: 5px;
}
.content.add-recorder .footer{
  position: static;
}
.connected-cameras{
  margin-top: 20px;
}
.connected-cameras .select-list span{
  line-height: normal;
  display: block;
  margin-top: 10px;
}
.connected-cameras .select-list{
  display: block;
}
.select-list span.close{
  background-image: url(./images/circle-x.png);
  background-size: 23px;
  width: 30px;
  background-repeat: no-repeat;
  height: 27px;
  float: none;
  margin: 5px 0 0 7px;
}
.face-modal span{
  display: inline-block;
}
.face-modal .addmore{
  background-image: url(./images/circle-plus.svg);
  background-size: 23px;
  width: auto;
  background-repeat: no-repeat;
  height: 27px;
  float: none;
  margin-left: 38px;
  padding: 0 31px 0 0px;
  background-position: right center;
  cursor: pointer;
}
.add-calendar h2{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #073B4C;
}
.succesful{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #63D2FF;
  line-height: 36px;
}
.content.settings-camera-page{
  max-width: 960px;
}
.content.settings-camera-page.recorder-table{
  max-width: 720px;
}
/* .content.settings-camera-page .white-box{
 min-height: 600px;
} */
.content .btn.connection-btn{
  background: #BED8D4;
  border-radius: 2px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 26px;
}
  .select-list ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .settings-camera-page .face-modal-content .popup-content {
    max-width: 650px;
}
.settings-camera-page .face-modal-content .modal-content{
  display: block;
  padding: 0 30px;
}
.settings-camera-page .face-modal-content .modal-content span.btn {
  margin-right: 0;
  position: absolute;
  right: 15px;
  top: 0;
}
.settings-camera-page .face-modal-content .bottom-btns{
  position: static;
}
.face-view-part{
  max-width: 450px;
  margin: 20px auto 30px;
}

.face-view-part video{
  width: 100%;
  margin-bottom: 15px;
  height: 280px;
  object-fit: cover;
}
  .select-list li{
    margin: 0 20px 0 0;
  }
  .select-list .css-g1d714-ValueContainer {
    height: 30px;
    padding: 0 10px;
    line-height: normal;
    font-size: 14px;
}
.select-list .css-tlfecz-indicatorContainer{
 padding: 3px 10px;
}
.settings-camera-page .popup-content {
  padding: 20px !important;
  max-width: 515px;
}
.settings-camera-page .modal-content{
 border: none;
}
span.repeat {
  font-size: 13px;
  line-height: 30px;
}
.add-new{
  font-size: 14px;
  line-height: 36px;
  color: #008CCC;
}

.add-calendar .Dropdown-control{
  padding: 7px 11px 0 10px;
}
.add-calendar .Dropdown-control:hover{
  border-color: #40a9ff;
}
.add-calendar .css-yk16xz-control:hover {
  border-color: #40a9ff;
}
.add-calendar .css-1wa3eu0-placeholder{
 top: 45%;
}
.add-calendar .css-1uccc91-singleValue{
  top: 60%;
 }
.add-calendar .css-yk16xz-control,.add-calendar .css-g1d714-ValueContainer,.add-calendar .css-1pahdxg-control{
  height: 32px;
  font-size: 13px;
  min-height: 0px;
}
.content span.btn{
  margin-right: 20px;
}
.css-2b097c-container:focus{
  outline: none;
}
.wrapper .ant-picker-input > input{
 border: none;
 opacity: 1;
 height: 20px;
 font-size: 14px;
 text-transform: uppercase;
 font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 80%;
  color: #073B4C;
  float: right;
}
.list-days {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0px;
}
.list-days li{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
align-items: center;
text-align: center;
color: #FFFFFF;
margin-right: 5px;
background: #63D2FF;
border-radius: 1px;
width: 32px;
line-height: 36px;
cursor: pointer;
}
.k-animation-container{
  z-index: 9999;
}
.k-calendar .k-footer .k-nav-today, .k-calendar .k-calendar-header .k-today{
  color: #008CCC;
}
span.k-widget.k-datepicker {
  margin-left: 20px;
  width: 125px;
}
.k-picker-wrap.k-state-default{
  border: 1px solid #BED8D4;
  border-radius: 4px;
  padding:0 7px;
}
.wrapper .ant-picker{
  border: 1px solid #BED8D4;
}
.k-picker-wrap.k-state-default input{
  height: 30px !important;
  font-size: 13px !important;
}
.k-picker-wrap.k-state-default:hover{
  border-color: #008CCC;
}
.row.repeat-days {
  line-height: 36px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.btn-add-submit{
  text-align: right;
}
.list-days li:hover,.list-days li.active{
  color: rgb(7, 59, 76,0.5);
  background: #F7F9F9;
}
.repeat-days{
  margin-top: 20px;
}
.repeat-days .col-md-3{
  padding-right: 0px;
  max-width: 20%;
}
.add-calendar .col-md-3{
  padding-right: 0px;
  max-width: 20%;
}
.wrapper .ant-picker-input{
  display: block
}
.wrapper .ant-picker-suffix{
  float: left;
  margin-top: -3px;
    margin-left: 0;
}
.wrapper{
  position: relative;
}
.wrapper .ant-picker{
  width: 100%;
}
.content span.btn.active{
  background: #008CCC;
  border: 1px solid #008CCC;
  color: #fff;
}
.select-list span{
  font-family: 'Sarala', sans-serif;
  font-size: 14px;
  line-height: 34px;
}
  .select-box {
    width: 200px;
}
.select-box select{
  background: #FFFFFF;
  border: 1px solid #BED8D4;
  box-sizing: border-box;
  border-radius: 4px;
}
  .select-list li a:hover,.select-list li a.active{
    background: rgba(99, 210, 255, 0.5);
    border: 1px solid #008CCC;
    box-sizing: border-box;
    border-radius: 2px;
    color: #008CCC;
  }
  .add-camera-setup .content .white-box {
    height: auto;
  }
  .main-content {
    padding-bottom: 49px;
}
 .camera-setup{
   text-align: center;
 }
 .addmore-wrapper {
  text-align: right;
  display: inline-block;
  width: 100%;
}
.addmore {
  width: 146px;
  display: flex;
  float: right;
  font-size: 13px;
}
.addmore .css-tlfecz-indicatorContainer{
  background:url(../src/images/circle-plus.svg) center center no-repeat;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin-top: -5px;
}
.addmore .css-yk16xz-control{
  border: none;
  min-height: 0;
}
.addmore .css-tlfecz-indicatorContainer svg,.addmore .css-1okebmr-indicatorSeparator{
  display: none;
}
.addmore .css-g1d714-ValueContainer{
  display: none !important;
}
.addmore .css-26l3qy-menu{
  width: 150px !important;
  right: 0px;
  text-align: left;
}
.addmore .css-2b097c-container{
  margin-left: 10px;
}
  .camera-list li{
    display: inline-block;
    width: 170px;
    background: #FDFDFD;
    box-shadow: 0px 2px 1px #EBEBEE, 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    height: 120px;
    margin: 0 20px 20px;
    vertical-align: middle;
    padding-top: 10px;
  }
  .camera-list li span{
    display: block;
    margin-top: 10px;
  }
  .camera-settings a.active{
    border-bottom: 3px solid #63D2FF;
  }
.white-box{
  background: #fff;
  padding: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.time-select .col-md-5,.time-select .col-md-6{
 display: flex;
}
.wrapper .content .time-select{
  margin-top: 20px;
}
.wrapper .content .time-select label{
  margin-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6F7C80;
}
.calendar-popup-box .Dropdown-root{
  float: right;
  width: 56px;
}
.settings-camera-page .calendar-popup-box .popup-content {
 padding: 20px 50px!important;
}
.copy-settings-camera .row.bottom-btns{
  position: static;
}
.copy-settings-camera .location-box{
  margin-bottom: 10px;
  margin-top: 16px;
}
.copy-settings-camera .location-box .SearchBar-root-1,.copy-settings-camera .location-box .SearchBar-root-91{
 width: 50%;
}
.copy-settings-camera .css-yk16xz-control{
  width: 100%;
}
.copy-settings-camera .select-list{
  width: 100%;
  margin-bottom: 30px;
}
.settings-camera-page .copy-settings-camera .popup-content{
  background: #FDFDFD !important;
  border-radius: 4px;
}

.wrapper .content .copy-settings-camera .location-box input::-webkit-input-placeholder { /* Edge */
  color:#333 !important;
}

.wrapper .content .copy-settings-camera .location-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333 !important;
}

.wrapper .content .copy-settings-camera .location-box input::placeholder {
  color:#333 !important;
}
.copy-settings-camera .select-box {
  width: 124px;
  margin: 0 15px 0 0;
}
.content .copy-settings-camera span.btn{
  margin-right: 0px;
}
.wrapper .content .copy-settings-camera label{
 margin-right: 20px;
}
@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .footer{
        position: static;
        margin-top: 30px;
      }
      .wobot-inner{
        padding-bottom: 0px;
      }

    }

@media screen and (max-width:767px){
  .footer{
    position: static;
    margin-top: 30px;
  }
  .wobot-inner{
    padding-bottom: 0px;
  }
  .content{
    padding: 0 15px;
  }
  .wrapper .content label{
    padding-left: 0px;
    padding-right: 0px;
  }
  .row.bottom-btns{
    display: flex
  }
  .row.bottom-btns .col-md-6{
   width: 50%;
  }
  .row.bottom-btns .col-md-6.btn{
    width: auto;
  }
  .input-field .col-md-2{
  width: 28%;
  }
  .camera-settings {
    margin-bottom: 20px;
}
.select-list{
  display: block
}
.select-box ,.wrapper .content .add-user-list input{
  width: 100%;
}
.content .btn.connection-btn,.content .btn.connection-btn + .select-list span{
  margin: 10px 10px 0 0;
}
  .row.location-box{
    margin-bottom: 20px;
  }
  .row.location-box div{
    width: auto;
  }
  .colum2 {
    max-width: 100%;
    display: flex;
    margin-right: 0;
    margin-bottom: 10px;
}
.row.table-box {
  overflow: scroll;
}
}

@media screen and (max-width:479px){
  .footer{
    margin-top: 20px;
  }
  .wobot-inner{
    padding-bottom: 45px;
  }
  .row.bottom-btns .col-md-6 {
    width: 100%;
    text-align: center !important;
    margin-bottom: 10px;
}
.row.bottom-btns .col-md-6.btn,.row.bottom-btns .btn {
  width: auto;
  margin: 10px 7px 0;
}
.content.add-recorder .footer {
  position: static;
  margin-top: 20px;
}
.add-newdvr h3{
  font-size: 16px;
}
.select-list ul{
  display: block;
  margin-bottom: 35px;
}
.select-list ul li{
  margin: 0px 0 10px;
}
.select-list ul li a{
  display: block;
}
.search-items{
  display: block;
}
}